@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  background: #eee;
}

a.btn {
  text-decoration: none;
  color: #666;
   border: 2px solid #666;
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}

a.btn:hover{
   background: #666;
   color: #fff;
    transition: .3s;
}

.btn:before{
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}

.credit span:before{
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}
.credit a{
   color: #333;
   text-decoration: none;
}

.credit a:hover{
   color: #1DBF73; 
}

.credit a:hover:after{
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}

main{
  background: #fff;
  padding: 20px;
  
}
 
@media only screen and (min-width: 1280px){
    main{
      max-width: 960px;
      margin-left: auto;
      margin-right: auto; 
      padding: 24px;
    }
}


